/*  your css code here. If applicable */
.container{
	text-align:center;
	margin:auto;
	align-items:center;
	padding:40px 35px 0px 35px;
	width:400px;
	height:540px;
	background-color:whitesmoke;
}

button{
	padding:15px;
	border-radius:10px;
	background-color:red;
	color:white;
	border:none;
}